.certificates {
  background-color: #fff;
}
.certificates .section-title {
  color: #4070f4;
}
.certificates .section-title::after {
  background-color: #4070f4;
  width: 12rem;
}

.card-list {
  display: flex;
  padding: 3rem 5vw;
  overflow-x: auto;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}